$deep-charcoal: #303030; // for text and primary elements like navigation bars and footers
$pale-gray: #F5F5F5; // Background
$soft-blue: #5F8CA3; // highlighting important features such as call-to-action buttons, links, or special offers
$medium-grey: #606060; // for secondary text
$cool-silver: #C0C0C0; // delineate different sections on the website
$light-grey: #E0E0E0; // background sections, borders, or less prominent elements