@import "./variables";

.admin-box {
  border: 5px solid red;
}
.admin-drawer{
  border: none;
}
.admin-appbar {
  background-color: $deep-charcoal;
}
.admin-drawer-bar {
  background-color: $deep-charcoal;
}
.chevron-icon {
  color: $pale-gray;
}
.dashboard-heading {
  color: $pale-gray;
  padding-left: 1rem;
}
.icon {
  color: $medium-grey;
}
.drawer-link{
  text-decoration: none;
  color: $deep-charcoal;
}

// className='admin-box'
